.header {
    overflow: hidden;
    background-color: #3B48C4;
    padding: 14px 0px;
    margin: 0;
  }

  .header a {
    float: left;
    color: #fff;
    background-color: #3B48C4;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #fff;
    color: #3B48C4;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header a.active:hover {
    background-color: white;
    color: #3B48C4;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      
    }
  }

  .topnav {
    width: 100%;
    background-color: #3B48C4;
    overflow: hidden
  }
  
  .topnav-right{
    float: right;
  }


.column {
    box-sizing: border-box;
    background-color: #FFF;
    float: left;
    padding: 10px 10px;
    height:  auto;
    width: 100%;
}

.left {
  width: 22%;
  margin-left: -10px;
}

.right {
  width: 22%;
  margin-left: 1px;
}

.middle {
  width: 52%;
  margin-left: 1%;
}

.row:after {
  align-content: left;
  content: inherit;
  display: table;
  clear: both;
}

.sidebar {
  margin: 0;
  padding: 2px 1px;
  width: 20%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.flex-container{
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  background-color: #eee;
  align-items: center;
}

.item {
  margin-top: 2%;
  margin-left: 2%;
  width: 30%;
  background-color: #fff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

label {
  color: #444;
  font-size: 26px;
  cursor: default;
}

.add-btn {
  width: 100%;
  background-color: #3B48C4;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;

}

.add-btn:hover {
  background-color: dodgerblue;
}